.titre {
    font-size: 500%;
	font-family: Arial;
	color: darkgreen;
    text-align: center;
    text-shadow: 2px 2px 4px #aaa;
}

.soustitre {
    font-size: 240%;
	font-family: Arial;
	color: forestgreen;
    text-align: center;
    text-shadow: 2px 2px 4px #aaa;
}

.intro {
    margin-left: 30px;
    font-family: Arial;
}

.imgcit {
    margin-left: 100px;
	max-width: 30%;
	height: auto;
    float:left;
}

.citation {
    font-size: 150%;
    font-family: Arial;
    color: forestgreen;
    text-align: center;
    text-shadow: 2px 2px 4px #aaa;
}

.maintext {
     margin-left: 30px;
    font-family: Arial;
    font-style: italic;
}

body {
    background-color: #BD5219;
}