.titre {
    font-size: 500%;
	font-family: Arial;
	color: darkgreen;
    text-align: center;
}

.soustitre {
    font-size: 240%;
	font-family: Arial;
	color: forestgreen;
    text-align: center;
}

.texte {
    font-family: Arial;
    text-align: inherit;
}